<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<style type="text/css">

th {
    align: left;
}
td {
    vertical-align: top;
    margin: 0;
    padding: 3px;
}
td img {
    max-width: 160px;
}
tr div.scroll {
    max-height: 200px;
    overflow: auto;
}
tr:nth-child(even) {
    background: #DDD;
}

</style>
</head>
<body>

<table cellspacing="0">
    <thead>
        <th>image</th>
        <th>inv</th>
        <th>collection</th>
        <th>name</th>
        <th>title</th>
        <th>culture</th>
        <th>geography</th>
        <th>dating</th>
        <th>material</th>
        <th>technique</th>
        <th>dimensions</th>
        <th>rights</th>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td><a href="{{row.url}}"><img src="images/{{row.image}}" /></a></td>
        <td><a href="{{row.url}}">{{row.inventoryNb}}</a></td>
        <td>{{row.collectionName}}</td>
        <td>{{row.objectName}}</td>
        <td>{{row.objectTitle}}</td>
        <td>{{row.objectCulture}}</td>
        <td><div class="scroll">{{row.geography}}</div></td>
        <td>{{row.dating}}</td>
        <td><div class="scroll">{{row.material}}</div></td>
        <td>{{row.technique}}</td>
        <td>{{row.dimensions}}</td>
        <td>{{row.legalRightOwner}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
