<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="sketchrecog.css">
</head>
<body>
{% for item in items %}
<div class="image" id="{{item.image|basename}}">
	<div class="id"><a href="#{{item.image|basename}}" name="{{item.image|basename}}">{{item.image|basename}}</a></div>
	<div class="original"><img src="{{item.image|basename}}.trim.jpg" /></div>
	<div class="predictions">
		{% for c in item.contours %}
		<div class="sketch">
			<img src="{{c.path}}" />
			<div class="prediction">
				{% for p in c.sketch_recognizer %}
					{{p.0}} ({{p.1}})
				{% endfor %}
			</div>
		</div>
		{% endfor %}
</div>
{% endfor %}
</body>
</html>