<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="lazyloadimages.js"></script>	
</head>
<body>

{% for item in items %}
<div class="image">
	<div class="image-placeholder" data-src="{{item.trim}}" style="width: {{item.width}}px; height:{{item.height}}px"></div>
	<div class="image-placeholder" data-src="{{item.contours}}" style="width: {{item.width}}px; height:{{item.height}}px"></div>
	<div class="image-caption">{{item.objectName}}</div>
</div>
{% endfor %}
<script>
document.addEventListener("DOMContentLoaded", e=> {
	lazyloadimages()(".image-placeholder");
})
</script>
</body>
</html>